<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><%= locals.pageTitle || 'Coding Usage' %></title>
<link rel="icon" type="image/png" href="<%= basePath %>/static/web_logo.png" />
<link rel="shortcut icon" href="<%= basePath %>/static/web_logo.png" />
<link rel="apple-touch-icon" href="<%= basePath %>/static/web_logo.png" />
<link rel="stylesheet" href="<%= basePath %>/static/style.css" />
<link rel="stylesheet" href="<%= basePath %>/static/common.css" />


